<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
          <li>
            <a href="{{ site.baseurl }}/steps/intro.html" {% if page.url == "/steps/intro.html" %}class = "active"{% endif %}>Introduction</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/steps/restarts.html" {% if page.url == "/steps/restarts.html" %}class = "active"{% endif %}>Easy restarts</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/routes.html" {% if page.url == "/steps/routes.html" %}class = "active"{% endif %}>Routing</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/serverside_variables.html" {% if page.url == "/steps/serverside_variables.html" %}class = "active"{% endif %}>Serverside variables</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/steps/http_request.html" {% if page.url == "/steps/http_request.html" %}class = "active"{% endif %}>Http Request</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/http_response.html" {% if page.url == "/steps/http_response.html" %}class = "active"{% endif %}>Http Response</a>
                </li>
            </ul>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/static_files.html" {% if page.url == "/steps/static_files.html" %}class = "active"{% endif %}>Static files</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/templating.html" {% if page.url == "/steps/templating.html" %}class = "active"{% endif %}>Templating user Handlebars</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/steps/handlebars.html" {% if page.url == "/steps/handlebars.html" %}class = "active"{% endif %}>Stand-alone Handlebars</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/handlebars_with_express.html" {% if page.url == "/steps/handlebars_with_express.html" %}class = "active"{% endif %}>Handlebars as a view engine</a>
                </li>
            </ul>

          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/middleware.html" {% if page.url == "/steps/middleware.html" %}class = "active"{% endif %}>Middleware</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware-static-files.html" {% if page.url == "/steps/middleware-static-files.html" %}class = "active"{% endif %}>Serving static files & assets</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware-form-variables.html" {% if page.url == "/steps/middleware-form-variables.html" %}class = "active"{% endif %}>Form variables</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware-flash-messages.html" {% if page.url == "/steps/middleware-flash-messages.html" %}class = "active"{% endif %}>Flash Messages</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware-http-sessions.html" {% if page.url == "/steps/middleware-http-sessions.html" %}class = "active"{% endif %}>HTTP sessions</a>
                </li>
            </ul>

            <!--
            <ol>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware.html" {% if page.url == "/steps/middleware.html" %}class = "active"{% endif %}>Form data</a>
                </li>
                <li>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware.html" {% if page.url == "/steps/middleware.html" %}class = "active"{% endif %}>Http sessions</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/middleware.html" {% if page.url == "/steps/middleware.html" %}class = "active"{% endif %}>Flash messages</a>
                </li>
            </ol>
            -->

          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/layout.html" {% if page.url == "/steps/layout.html" %}class = "active"{% endif %}>Page Layout & CSS</a>
          </li>
    </ul>
  </nav>
</footer>
